@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the beta version of our game reselling platform. Due to our limited budget, our design it's lacking :)</p>
    <p>We hope that you'll still search some games on our app and we'll take your money so we can hire a designer.</p>
</div>
