body {
    background-image: url("https://images.wallpapersden.com/image/download/sea-of-thieves-game-4k_a2ltZWqUmZqaraWkpJRnamtlrWZpaWU.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
