@{

}

<h1 class="text-light">Index</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                User ID
            </th>
            <th class="text-light">
                User Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.UsersList)
        {
            <tr>
                <td class="text-light">
                    @item.Id
                </td>
                <td class="text-light">
                    @item.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
